.full-page {
  width: 1480px;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;

  margin-top: 63px;
  margin-bottom: 30px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

/* header */

.header {
  font-family: "Roboto";
  font-weight: 400;
  margin-bottom: 46px;
}

.logo {
  padding-bottom: 40px;
}

.logo-link {
  text-decoration: none;
  font-size: 80px;
  line-height: 94px;
  display: flex;
  text-align: center;

  color: #000000;
}

.logo-blue {
  color: #4bcaff;
}

.top-menu {
  width: 1280px;
  background: #35444f;
  display: flex;
  justify-content: center;
  align-items: center;
}

.link-top-menu {
  text-decoration: none;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;

  color: #ffffff;
}

.theme-top-menu:hover {
  background: #222f3a;
}

.theme-top-menu {
  padding: 24px 32px 18px 32px;
  border-left: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
  cursor: pointer;
}

/* aside */
.left-menu {
  box-sizing: border-box;
  width: 344px;
  height: 399px;
  border: 1px solid #495863;
  margin-right: 52px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  overflow: hidden;
}

.theme-aside-link {
  display: inline-block;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 27px;
  line-height: 27px;

  color: #485863;
  text-decoration: none;
}

.theme-aside-link:hover {
  color: #000000;
  transform: translate(40px, 0);
  transition: all 1s ease;
}

.theme-aside {
  padding-left: 44px;
  padding-top: 27px;
  padding-bottom: 25px;
  cursor: pointer;
}

.theme-aside:hover {
  background: #dbdbdb;
}

/* main */
.content {
  width: 885px;
  height: 832px;
  margin-bottom: 51px;
}

.img {
  width: 884px;
  height: 529px;
  background: rgba(0, 0, 0, 0.0001);
  border: 1px solid #495863;

  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 37px;
}

.picture {
  transition: 1s;
}

.picture:hover {
  transform: scale(1.2);
}

.discription {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #2c2c2c;

  padding-bottom: 34px;
}

/* footer */

.footer {
  width: 1280px;
  height: 69px;

  background: rgba(99, 105, 110, 0.48);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.theme-footer {
  display: flex;
  justify-content: space-evenly;
  width: 875px;
}

.footer-link {
  position: relative;
  text-decoration: none;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 28px;
  line-height: 28px;
  color: #010101;
}

.footer-link:after {
  content: "";
  position: absolute;
  background-color: #3181a6;
  height: 1px;
  width: 0%;
  left: 0;
  bottom: -10px;
}

.footer-link:hover:after {
  width: 100%;
}

.footer-link:hover {
  color: #3181a6;
}

.copyright {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;

  color: #010101;
}
